.DS_Store
*.pyc
dist/
server/bassapp/catalog/static/catalog/
server/bassapp/catalog/templates/index.html
server/www/

dockers/media/
dockers/aws-compose.yml
dockers/docker-compose.yml

node_modules/
npm-debug.log
