<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="Description" content="Bass Covers with Tabs">
    <meta name="keywords" content="bass,bass tab,bass cover,bass lesson,bass guitar,drum,backing track"></meta>
    <title>Bass Tabs</title>
  </head>
  <body>
    {% for project in projects %}
    <h3>
      <a href="/project/{{ project.id }}">
        {{ project.artist }} - {{ project.title }}</a>
      bass tab
    </h3>
    {% endfor %}
  </body>
</html>