include INSTALL
include LICENSE
include README
include MANIFEST.in
include requirements.txt
recursive-include bassapp/conf/project_template *
recursive-include bassapp/static *
recursive-include bassapp/templates *
