include INSTALL
include LICENSE
include README
include MANIFEST.in
include requirements.txt
recursive-include basscloud/conf/project_template *
recursive-include basscloud/catalog/static *
recursive-include basscloud/catalog/templates *
recursive-include basscloud/app/static *
recursive-include basscloud/app/templates *
recursive-include basscloud/accounts/static *
recursive-include basscloud/accounts/templates *
