{% extends "email_base.html" %}

{% block content %}
<p>Hi {{ user.username }},</p>

<p>
  Welcome to <a class="link" href="https://basscloud.net">BassCloud</a>!
  To activate your account, please click on the following button
  <a
    class="md-button md-raised md-primary"
    href="{{ protocol }}://{{ site }}{% url 'registration_activate' activation_key %}">
    Activate account
  </a>
</p>

<br />
<p>If you received this email in error, you can safely ignore this email.</p>

<p>
  <small>
    If you can't get the button to work, paste this link into your browser:
    {{ protocol }}://{{ site }}{% url 'registration_activate' activation_key %}
</small>
</p>
{% endblock %}