{% extends "email_base.html" %}

{% block content %}
<p>Hi {{ user.username }},</p>

<p>
  You have requested to have your password reset for your account at <a class="link" href="https://basscloud.net"> BassCloud</a>. Please confirm reset of your password
  <a
    class="md-button md-raised md-primary"
    href="{{ protocol }}://{{ site_name }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Reset password
  </a>
</p>

<p>If you received this email in error, you can safely ignore this email.</p>

<p>
  <small>
    If you can't get the button to work, paste this link into your browser:
    {{ protocol }}://{{ site_name }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</small>
</p>
{% endblock %}